# Assignment 3

### Write a function to count the number 4 in a given list.

In [21]:
def count():
    count=0
    x=[1,2,4,3,4,4,4,4]
    for i in x:
        if i==4:
            count=count+1
    return count
count()

5

### write a  function to check whether a number is divisible by another number.

In [15]:
def divisible(n1,n2):
    if(n1%n2==0):
        print("{0} is divisible by {1}".format(n1,n2))
    else:
        print("{0} is not divisible by {1}".format(n1,n2))
        
divisible(10,2)

10 is divisible by 2

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [15]:
def max_min():
    x=[1,2,3,4,5,10,0,100]
    max=x[0]
    min=x[0]
    for i in x:
        if(i>y):
            max=i
        if (i<y):
            min=i
        
    return min,max
max_min()

(0, 100)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [12]:
def intersect (list1,list2):
    x=set(list1)
    y=set(list2)
    z=x.intersection(y)
    if(z):
        return True
    else:
        return False

intersect([1,2,3],[3,4,5])

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [39]:
def factorial(n):
    if(n==1):
        return 1
    else:
        return n*factorial(n-1)
    
factorial(4)

24

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [37]:
def check(num):
    for i in range(3,12):
        if(num==i):
            print("{} is in the given range".format(num))
    
check(5)

5 is in the given range

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [75]:
def mul(n):
    for i in range (1,11):
        x=n*i
        print(x)       
mul(2)

2
4
6
8
10
12
14
16
18
20

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [65]:
def lesser(n1,n2):
    if(n1%2==0 and n2%2==0):
        if(n1<n2):
            return n1
        elif(n2<n1):
            return n2
    else:
        if(n1>n2):
            return n1
        elif(n2>n1):
            return n2
lesser(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [63]:
def animal_crackers(x):
    words=x.split(" ")
    if words[0][0]==words[1][0]:
        return True
    else:
        return False
animal_crackers("Levelheaded Llama")

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [58]:
def makes_twenty(n1,n2):
    if n1+n2==20:
        return True
    elif n1==20 or n2==20:
        return True
    else:
        return False
makes_twenty(2,3)

False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [77]:
def almost_there(n):
    if abs(n) in range (90,111):
        return True
    elif abs(n) in range (190,211):
        return True
    else:
        return False
almost_there(90)

True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [46]:
def blackjack(n1,n2,n3):
    for i in range (1,12):
        if(n1+n2+n3)<=21:
            return n1+n2+n3
        elif n1+n2+n3>21 and (n1==11 or n2==11 or n3==11):
            sum=n1+n2+n3-10
            return sum
        elif(n1+n2+n3)>21:
            return 'BUST'
blackjack(9,9,11)

19